@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background: black;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.key {
  border: 1px solid #999;
  background-color: rgb(105, 108, 105);
  box-shadow: 1px 1px 3px rgba(225, 225, 225, 0.1);
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  position: relative;
}
.key small {
  position: absolute;
  top: -25px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
}
