@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* CSS HEX - EARTHY TONES */
  --muted-olive: #adc178ff;
  --tea-green: #dde5b6ff;
  --vanilla-cream: #f0ead2ff;
  --faded-copper: #a98467ff;
  --ash-brown: #6c584cff;
  --olive-to-brown: linear-gradient(45deg, #adc178ff 0%, #6c584cff 85%);
}
html {
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
}
body {
  font-family: 'Lato', sans-serif;
  background-color: var(--vanilla-cream);
  color: var(--ash-brown);
}
header {
  margin: 10px 20px;
  font-size: 0.7rem;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  position: sticky;
  top: 0;
}

.header a {
  text-decoration: none;
  color: var(--ash-brown);
}
.container {
  margin: 80px auto;
  max-width: 100vh;
  text-align: center;
}
.hero {
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(108, 88, 76, 0.6);
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  p {
    padding-bottom: 20px;
  }
}
.gradient,
i {
  color: transparent;
  /* background: linear-gradient(
    45deg,
    rgba(179, 238, 174, 1) 0%,
    rgba(181, 135, 222, 1) 85%
  ); */
  background: var(--olive-to-brown);
  background-clip: text;
}
h2 {
  margin: 50px auto 20px;
}
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  max-width: 200px;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(108, 88, 76, 0.7);
}
.projects-container .project-card {
  display: flex;
  flex-direction: column;
}

.project-card .language-container {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin: 10px auto;
}
.project-card .language-container img {
  height: 32px;
  width: 32px;
}
.projects-container .project-card .project-desc {
  margin-top: 50px;
}
.lifts-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.lifts-container .lift-card video {
  width: 190px;
  height: 190px;
  border-radius: 20px;
}

footer {
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
}
