@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
}
body {
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  color: black;
}
header {
  margin: 10px 20px;
  font-size: 0.7rem;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  position: sticky;
  top: 0;
}

.header a {
  text-decoration: none;
  color: black;
}
.container {
  margin: 80px auto;
  max-width: 100vh;
  text-align: center;
}
.hero {
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.6);
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  p {
    padding-bottom: 20px;
  }
}
.gradient,
i {
  color: transparent;
  background: linear-gradient(
    45deg,
    rgba(179, 238, 174, 1) 0%,
    rgba(181, 135, 222, 1) 85%
  );
  background-clip: text;
}
h2 {
}
.projects-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}
.card {
  margin: auto 10px;
  padding: auto 10px;
  min-width: 140px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.6);
}
.card img {
  width: 100%;
  height: 20vh;
}
.lifts-container {
  margin: 20px auto;
  display: flex;
}
footer {
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
}
